/* All  */
* {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
}

p, ul{
    font-family: 'Karla', sans-serif;
    padding-bottom: 1%;
}


/* Header Styles */

#head-image{
    max-height: 100vh;
    width: 100%;
    margin: 0;
}

.landing {
    text-transform: uppercase;
    max-height: 100vh;
    /* margin-bottom: 1%; */
}

header h1 {
    font-size: 1.75em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    left: 0;
    right: 0;
    text-align: center;
}

header p {
    color: whitesmoke;
    font-size: 1.5em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    
}

.heading {
    text-transform: uppercase;
    /* text-align: center; */
}

/* Nav Bar */

.nav-bar {
    position: fixed;
    background-color: #175171;
    width: 100%;
    z-index: 1;
    color: white;
    border-bottom: 2px solid #F0AE10;
    border-top: 2px solid #F0AE10;

}


nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0.5em;
    float: right;
    margin-right:  2%;
    
}

nav ul li {
    padding-left: 1em;
    text-transform: uppercase;
    margin-top: 1%;
    margin-bottom: 1%;
}

nav ul li:hover{
    color: #F0AE10;
}


/* About */

.about-head{
    background-color: #F0AE10;
}

.about {
    padding: 1%;
    min-height: 60vh;
}

.about h2 {
    border-bottom: 5px solid #F0AE10;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 20%;
}

.highlight {
    border: 5px solid #F0AE10;
}

/* Skills */

.skills {
    padding: 1%;
    background-color: #175171;
    color: white;
    min-height: 60vh;
}

.skills h2 {
    border-bottom: 5px solid #F0AE10;
    margin-bottom: 1%;
    margin-top: 2%;
    width: 20%;
}

.contact {
    margin: 1%;
    min-height: 50vh;
}

.contact h2 {
    border-bottom: 5px solid #F0AE10;
    margin-bottom: 1%;
    margin-top: 2%;
    width: 20%;
}


/* Form */

input[type=text], select, textarea {
    width: 100%;
    padding: 1%; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 1%; 
    margin-bottom: 2%;
    resize: vertical;
  }
  

  input[type=submit] {
    background-color: #175171;
    color: white;
    padding: 1% 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #F0AE10;
  }


/* Footer */
footer {
    background-color:#175171;
    padding: 1%;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

  
 }

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) { 
    header h1 {
        font-size: 2.5em;
        margin-top: 20%;
    }
    
    header p {
        font-size: 2.5em;
        margin-top: 30%;
    }
  }
 
  /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) {
    header h1 {
        font-size: 2.5em;
        margin-top: 20%;
    }
    
    header p {
        font-size: 2.5em;
        margin-top: 27%;
    }
   }
 
  /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {  
    header h1 {
        font-size: 5.5em;
        margin-top: 25%;
    }
    
    header p {
        font-size: 4.5em;
        margin-top: 35%;
    }
 }
 
  /* X-Large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {  }

  /* XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) { 
    header h1 {
        font-size: 5.5em;
        margin-top: 15%;
    }
    
    header p {
        font-size: 4.5em;
        margin-top: 22%;
    }

    h2 {
        font-size: 3rem;
        padding: 1% 0%;
        text-align: center;
    }

    p {
        font-size: 1.5em;
        
    }

    li {
        font-size: 2rem;
    }

    .about h2 {
        text-align: center;
    }

  }
